<template>
  <div class="row-reserve">
    <div class="header-reserve">RESERVAR</div>
    <div class="body-reserve">
        <p v-if="errors.length">
          <b>Por favor, corrija el(los) siguiente(s) error(es):</b>
          <ul>
            <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
          </ul>
        </p>
      <form @submit.prevent="checkForm" class="form-reserve" novalidate="true">
        <div class="name-reserve">
          <label class="label-name" for="nombre">Nombre</label>
          <input
            class="input-name"
            type="text"
            name="nombre"
            v-model="name"
            required
          />
        </div>
        <div class="date-reserve">
          <label class="label-date" for="fecha">Fecha</label>
          <input
            class="input-date"
            type="date"
            id="firstDate"
            name="fecha"
            value="2019-09-30"
            v-model="date"
            required
          />
        </div>
        <div class="from-reserve">
          <label class="label-from" for="desde">Desde</label>
          <input
            class="input-from"
            type="time"
            value="12:00"
            name="desde"
            v-model="from"
            required
          />
        </div>
        <div class="to-reserve">
          <label class="label-to" for="hasta">Hasta</label>
          <input
            class="input-to"
            type="time"
            value="13:00"
            name="hasta"
            v-model="to"
            required
          />
        </div>
        <div class="save-reserve">
          <button type="submit" class="btn-save">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import moment from "../assets/js/moment.js";
import vis from "../assets/js/vis.js";
import { mapMutations, mapGetters } from "vuex";

export default {
  name: "Reserve",
  data() {
    return {
      name: null,
      date: null,
      from: null,
      to: null,
      errors: [],
      timeline: {},
      container: '',
      options: {
        // stack: false,
        autoResize: false,
        orientation: {
          axis: "top",
          item: "top",
        },
        showMajorLabels: false,
        selectable: false,
        format: {
          minorLabels: {
            minute: "HH:mm a",
          },
        },
        //zoomMax: 31536000000, // just one year
        zoomMax: 87600900, // 10,000 years is maximum possible
        zoomMin: 10000000, // 10ms
      },
    };
  },
  mounted() {
    let today = moment().format('YYYY-MM-DD');
    console.log(today);
    let input = document.getElementById("firstDate");
    input.setAttribute("min", today);
  },
  computed: {
    ...mapGetters(["getReserveData", "getTimeLine", "getContainer", "getOptions"]),
  },
  methods: {
    ...mapMutations(["addReserveData", "setTimeLine"]),
    checkForm() {
      this.errors = [];
      if (!this.name) {
        this.errors.push("El nombre es obligatorio.");
      }
      if (!this.date) {
        this.errors.push("La fecha es obligatoria.");
      }
      if (!this.from) {
        this.errors.push("El comienzo de horario es obligatorio.");
      }
      if (!this.to) {
        this.errors.push("El finalizado de horario es obligatorio.");
      }
      if (this.to < this.from) {
        this.errors.push(
          'La hora "hasta" tiene que ser menor que la de "desde"'
        );
      }
      if (this.to == this.from) {
        this.errors.push(
          'La hora "hasta" tiene que ser distinta a "desde"'
        );
      }
      if (!this.errors.length) {
        
        let data = {
          id: this.getReserveData.length + 1,
          name: this.name,
          start: `${this.date} ${this.from}`,
          end: `${this.date} ${this.to}`,
        };
  
        this.addReserveData(data);
  
        this.getTimeLine.destroy();

        this.getReserveData.forEach(element => {
          if (this.getReserveData.length == element.id) {
            element.style = "background-color: #22e45f; opacity: 0.5";
          }else{
            element.style = "background-color: #f7eb44; opacity: 0.5";
          }
        });
  
        let items = new vis.DataSet(this.getReserveData);
        
        let timeline = new vis.Timeline(this.getContainer, items, this.getOptions);
  
        this.setTimeLine(timeline);
      }

      this.name = this.date = this.from = this.to = null;
    },
  },
};
</script>

<style lang="scss">
.row-reserve {
  padding: 5vh;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(221, 217, 217);
  border-radius: 10px;
  box-shadow: 0 5px 10px -6px #777;
}

.form-reserve {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.header-reserve {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 2vh;
  color: #1d7766;
}
.label-name,
.label-date,
.label-from,
.label-to {
  font-size: 15px;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(48%) saturate(3207%) hue-rotate(130deg) brightness(95%)
    contrast(80%);
}

.input-name,
.input-date,
.input-from,
.input-to {
  margin-top: 1vh;
  margin-right: 3vh;
  height: 4vh;
  padding: 5px;
}

.input-date {
  color: #767676;
}

.input-name {
  width: 60vh;
}

.input-from {
  width: 12vh;
}

.input-to {
  width: 12vh;
}

.btn-save {
  height: 6vh;
  margin-top: 27px;
  width: 20vh;
  border: none;
  color: white;
  background-color: #1ba189;
  opacity: 0.9;
  font-weight: 700;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 5px 10px -6px #777;
  outline: none;
}

.btn-save:hover {
  background-color: #198571;
  cursor: pointer;
}

.icon-from,
.icon-to {
  position: absolute;
  top: 21%;
  color: #acacac;
}
</style>