<template>
  <div class="container-reserve">
    <Reserve/>
    <TimeLine/>
    <TableReservation/>
  </div>
</template>

<script>
import moment from "../assets/js/moment";
import vis from "../assets/js/vis";
import Reserve from './Reserve'
import TimeLine from './TimeLine'
import TableReservation from './TableReservation'
import { mapGetters } from "vuex";

export default {
  name: 'reservation',
  components:{
    Reserve,
    TimeLine,
    TableReservation
  }
}
</script>

<style lang="scss">
  .container-reserve {
  margin: 5vh;
  padding: 0px;
}

</style>
