<template>
  <div>
    <table class="table-reservation">
      <thead>
        <tr class="group-header">
          <th class="header-name">Nombre</th>
          <th class="header-hour" @click="orderData()">
            Horario<i class="material-icons">{{ orderDataName }}</i>
          </th>
          <th class="header-action">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(data, index) in getReserveData"
          :key="index"
          class="group-body"
        >
          <td class="body-name">{{ data.name }}</td>
          <td class="body-hours">
            de {{ data.start | time }} a {{ data.end | time }}
          </td>
          <td class="body-action">
            <i class="material-icons" @click="deleteReserve(data, index)"
              >delete</i
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import moment from "../assets/js/moment.js";
import vis from "../assets/js/vis.js";
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "table-reservation",
  data() {
    return {
      orderDataName: "north",
      reserveData: [],
    };
  },
  filters: {
    time(value) {
      return moment(String(value)).format("HH:mm");
    },
  },
  mounted() {
    this.reserveData = this.getReserveData;
  },
  computed: {
    ...mapGetters([
      "getReserveData",
      "getTimeLine",
      "getContainer",
      "getOptions",
    ]),
  },
  methods: {
    ...mapMutations(["setTimeLine", "subReserveData"]),
    deleteReserve(data, index) {
      this.getTimeLine.destroy();

      let newReserveData = this.getReserveData.filter(
        (element) => element.id != data.id
      );

      this.subReserveData(index);

      let items = new vis.DataSet(newReserveData);

      let timeline = new vis.Timeline(
        this.getContainer,
        items,
        this.getOptions
      );

      this.setTimeLine(timeline);
    },
    orderData() {
      if (this.orderDataName == "north") {
        this.reserveData = this.reserveData.sort((a, b) => a.name.localeCompare(b.name));
        this.orderDataName = "south";
      } else if (this.orderDataName == "south") {
        this.reserveData = this.reserveData.reverse();
        this.orderDataName = "north";
      }
    },
  },
};
</script>

<style lang="scss">
.table-reservation {
  margin-top: 5vh;
}

.group-header {
  color: #acacac;
}

.header-name {
  width: 75%;
  max-width: 75%;
  height: 9vh;
  text-align: left;
}

.header-hour {
  width: 40vh;
  cursor: pointer;
}

.group-body {
  height: 8vh;
}

.body-name {
  font-weight: 900;
}

.body-hours {
  text-align: center;
}

.body-action {
  text-align: center;
  color: #cccccc;
  cursor: pointer;
}

.body-action:hover {
  color: #756f6f;
}

td,
th {
  border-bottom: 1px solid #cccccc;
}
</style>