<template>
  <div>
    <div class="header-timeline">
      <h3>Agenda de Reservas</h3>
      <ul>
        <li class="disponible">
          <i class="material-icons"> check_box_outline_blank </i
          >Disponible
        </li>
        <li class="reservado">
          <i class="material-icons"> check_box_outline_blank </i>Reservado
        </li>
        <li class="reserva-actual">
          <i class="material-icons"> check_box_outline_blank </i>Mi
          Reserva Actual
        </li>
      </ul>
    </div>
    <div class="group-timeline">
      <div class="moveLeft" @click="moveLeft()">
        <i class="material-icons move-icon-left" id="moveLeft"
          >keyboard_arrow_left</i
        >
      </div>
      <div id="visualization" class="visualization">
        <div class="menu">
          <input
            style="display: none"
            id="sliderZoom"
            type="range"
            class="range"
            name="a"
            min="-1"
            max="1"
            step="0.1"
            value="0"
          />
        </div>
      </div>
      <div class="moveRight" @click="moveRight()">
        <i class="material-icons move-icon-right" id="moveRight"
          >keyboard_arrow_right</i
        >
      </div>
    </div>
  </div>
</template>
<script>
import moment from "../assets/js/moment.js";
import vis from "../assets/js/vis.js";
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "TimeLine",
  props: ["test"],
  data() {
    return {
      dataTimeLine: [],
      options: {
        // stack: false,
        height: "15vh",
        autoResize: true,
        orientation: {
          axis: "top",
          item: "top",
        },
        showMajorLabels: false,
        selectable: false,
        format: {
          minorLabels: {
            minute: "HH:mm a",
          },
        },
        //zoomMax: 31536000000, // just one year
        zoomMax: 87600900, // 10,000 years is maximum possible
        zoomMin: 10000000, // 10ms
      },
    };
  },
  mounted() {
    let container = document.getElementById("visualization");
    let items = new vis.DataSet(this.getReserveData);
    let timeline = new vis.Timeline(container, items, this.options);

    this.setTimeLine(timeline);
    this.setContainer(container);
    this.setOptions(this.options);
  },
  methods: {
    ...mapMutations(["setTimeLine", "setContainer", "setOptions"]),
    moveLeft() {
      this.move(0.2);
    },
    moveRight() {
      this.move(-0.2);
    },
    move(percentage) {
      var range = this.getTimeLine.getWindow();
      var interval = range.end - range.start;
      this.getTimeLine.setWindow({
        start: range.start.valueOf() - interval * percentage,
        end: range.end.valueOf() - interval * percentage,
      });
    },
  },
  computed: {
    ...mapGetters(["getReserveData", "getTimeLine"]),
  },
};
</script>

<style lang="scss">
.group-timeline {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header-timeline {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  h3 {
    color: #767676;
  }
  ul {
    grid-column-start: 4;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 58vh;
    margin-left: -5vh;
    margin-top: 3vh;

    .reservado i{
      background: #f7eb44;
      color: #f7eb44;
      opacity: 0.5;
    }
    .reserva-actual i{
      background: #22e45f;
      color: #22e45f;
      opacity: 0.5;
    }

    li{
       list-style:none;
       font-size: 12px;

       i{
         font-size: 12px;
         margin-right: 1vh;
       }
    }
  }
}

.visualization {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 1290px;
}

.moveLeft {
  grid-column-start: 1;
  grid-column-end: 2;
  border: 1px solid #767676;
  height: 10vh;
  width: 5vh;
  padding-top: 5vh;
  cursor: pointer;
  background: white;
}
.moveRight {
  grid-column-start: 3;
  grid-column-end: 4;
  border: 1px solid #767676;
  height: 10vh;
  width: 5vh;
  padding-top: 5vh;
  cursor: pointer;
  background: white;
}

.move-icon-left,
.move-icon-right {
  margin-top: 1vh;
  margin-left: 5px;
}
</style>


    // this.dataTimeLine =
    // [
    //   {
    //     id: 1,
    //     start: "2019-03-1 10:00",
    //     end: "2019-03-1 10:30",
    //     style: "background-color: #22e45f; opacity: 0.7",
    //   },
    //   {
    //     id: 2,
    //     start: "2019-03-1 11:00",
    //     end: "2019-03-1 11:45",
    //     style: "background-color: #f7eb44; opacity: 0.5",
    //   },
    //   {
    //     id: 3,
    //     start: "2019-03-1 11:45",
    //     end: "2019-03-1 12:45",
    //     style: "background-color: #22e45f; opacity: 0.5",
    //   },
    // ];