<template>
  <div id="app">
    <Resevartion/>
  </div>
</template>

<script>
import Resevartion from './components/Resevartion.vue'
import '../src/assets/css/style.css'
import '../src/assets/css/full-style.css'


export default {
  name: 'App',
  components: {
    Resevartion
  }
}
</script>